body{
    background-color: rgb(224, 224, 224);
}
img{
    background-color: rgb(177, 199, 233);
    background-repeat: repeat-x;
}
table{
    width: 650px;
    border: none;
    text-align: center;
    background-color:rgb(92, 107, 123);

}

#tablazat2{
    background-color: white;
    width: 600px;
}
#vilagoskek{
    height: 35px;
    background-color:rgb(205, 219, 235);
}
b{
    font-size: x-large;
}

#ball{
    text-align: left;
}
#link{
    font-size: smaller;
}